In [ ]:

# DATA TO USE: POPULATION.csv
# Question1: What is the average happiness score for each region?
# Question2: How many countries are there in each region?
# Question3: What are the top 5 countries with the highest happiness scores?
# Question4: What is the average economy (GDP per Capita) for each region?
# Question5: What is the maximum trust (government corruption) among countries in each region?
# Question6: What are the countries with a happiness score greater than 7?
# Question7: How many countries have a happiness score between 6 and 7?
# Question8: What is the minimum health (life expectancy) among countries in each region?
# Question9: What is the average generosity for countries with a happiness rank less than 10?
# Question10: What is the sum of standard errors for countries in each region?

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'seyilaw1',
    database = 'sqlproject'
)
mycursor = mydb.cursor()

In [6]:
mycursor.execute('show columns from population')
for x in mycursor:
    print(x)

('Country', b'text', 'YES', '', None, '')
('Region', b'text', 'YES', '', None, '')
('HappinessRank', b'int', 'YES', '', None, '')
('HappinessScore', b'double', 'YES', '', None, '')
('StandardError', b'double', 'YES', '', None, '')
('Economy_GDP_per_Capita', b'double', 'YES', '', None, '')
('Family', b'double', 'YES', '', None, '')
('Health_Life_Expectancy', b'double', 'YES', '', None, '')
('Freedom', b'double', 'YES', '', None, '')
('Trust_Government_Corruption', b'double', 'YES', '', None, '')
('Generosity', b'double', 'YES', '', None, '')
('Dystopia Residual', b'double', 'YES', '', None, '')

In [8]:
mycursor.execute('select Region,avg(HappinessScore) from population group by Region')
for x in mycursor:
    print(x)

('Western Europe', 6.689619047619048)
('North America', 7.273)
('Australia and New Zealand', 7.285)
('Middle East and Northern Africa', 5.406899999999999)
('Latin America and Caribbean', 6.1446818181818195)
('Southeastern Asia', 5.317444444444445)
('Central and Eastern Europe', 5.332931034482758)
('Eastern Asia', 5.626166666666666)
('Sub-Saharan Africa', 4.202800000000001)
('Southern Asia', 4.580857142857143)

In [9]:
mycursor.execute('select Region,count(Country) from population group by Region')
for x in mycursor:
    print(x)

('Western Europe', 21)
('North America', 2)
('Australia and New Zealand', 2)
('Middle East and Northern Africa', 20)
('Latin America and Caribbean', 22)
('Southeastern Asia', 9)
('Central and Eastern Europe', 29)
('Eastern Asia', 6)
('Sub-Saharan Africa', 40)
('Southern Asia', 7)

In [13]:
mycursor.execute('select Country, HappinessScore from population order by HappinessScore desc limit 5')
for x in mycursor:
    print(x)

('Switzerland', 7.587)
('Iceland', 7.561)
('Denmark', 7.527)
('Norway', 7.522)
('Canada', 7.427)

In [14]:
mycursor.execute('select Region,avg(Economy_GDP_per_Capita) from population group by Region')
for x in mycursor:
    print(x)

('Western Europe', 1.2985957142857143)
('North America', 1.3603999999999998)
('Australia and New Zealand', 1.29188)
('Middle East and Northern Africa', 1.0669734999999998)
('Latin America and Caribbean', 0.8768154545454546)
('Southeastern Asia', 0.7890544444444444)
('Central and Eastern Europe', 0.942438275862069)
('Eastern Asia', 1.15178)
('Sub-Saharan Africa', 0.38047299999999995)
('Southern Asia', 0.5604857142857143)

In [15]:
mycursor.execute('select Region,max(Trust_Government_Corruption) from population group by Region')
for x in mycursor:
    print(x)

('Western Europe', 0.48357)
('North America', 0.32957)
('Australia and New Zealand', 0.42922)
('Middle East and Northern Africa', 0.52208)
('Latin America and Caribbean', 0.24558)
('Southeastern Asia', 0.4921)
('Central and Eastern Europe', 0.38331)
('Eastern Asia', 0.37124)
('Sub-Saharan Africa', 0.55191)
('Southern Asia', 0.15445)

In [16]:
mycursor.execute('select Country,HappinessScore from population where HappinessScore > 7')
for x in mycursor:
    print(x)

('Switzerland', 7.587)
('Iceland', 7.561)
('Denmark', 7.527)
('Norway', 7.522)
('Canada', 7.427)
('Finland', 7.406)
('Netherlands', 7.378)
('Sweden', 7.364)
('New Zealand', 7.286)
('Australia', 7.284)
('Israel', 7.278)
('Costa Rica', 7.226)
('Austria', 7.2)
('Mexico', 7.187)
('United States', 7.119)

In [17]:
mycursor.execute('select Country,HappinessScore from population where HappinessScore  between 6 and 7')
for x in mycursor:
    print(x)

('Brazil', 6.983)
('Luxembourg', 6.946)
('Ireland', 6.94)
('Belgium', 6.937)
('United Arab Emirates', 6.901)
('United Kingdom', 6.867)
('Oman', 6.853)
('Venezuela', 6.81)
('Singapore', 6.798)
('Panama', 6.786)
('Germany', 6.75)
('Chile', 6.67)
('Qatar', 6.611)
('France', 6.575)
('Argentina', 6.574)
('Czech Republic', 6.505)
('Uruguay', 6.485)
('Colombia', 6.477)
('Thailand', 6.455)
('Saudi Arabia', 6.411)
('Spain', 6.329)
('Malta', 6.302)
('Taiwan', 6.298)
('Kuwait', 6.295)
('Suriname', 6.269)
('Trinidad and Tobago', 6.168)
('El Salvador', 6.13)
('Guatemala', 6.123)
('Uzbekistan', 6.003)

In [18]:
mycursor.execute('select Region,min(Health_Life_Expectancy) from population group by Region')
for x in mycursor:
    print(x)

('Western Europe', 0.87464)
('North America', 0.86179)
('Australia and New Zealand', 0.90837)
('Middle East and Northern Africa', 0.40064)
('Latin America and Caribbean', 0.38847)
('Southeastern Asia', 0.48246)
('Central and Eastern Europe', 0.53886)
('Eastern Asia', 0.60268)
('Sub-Saharan Africa', 0.0)
('Southern Asia', 0.30335)

In [20]:
mycursor.execute('select avg(Generosity) from population where HappinessRank < 10')
for x in mycursor:
    print(x)

(0.38075666666666674,)

In [21]:
mycursor.execute('select Region, sum(StandardError) from population group by Region')
for x in mycursor:
    print(x)

('Western Europe', 0.7901299999999999)
('North America', 0.07392)
('Australia and New Zealand', 0.07454)
('Middle East and Northern Africa', 0.9267400000000001)
('Latin America and Caribbean', 1.34479)
('Southeastern Asia', 0.38422)
('Central and Eastern Europe', 1.31102)
('Eastern Asia', 0.22335000000000002)
('Sub-Saharan Africa', 2.21195)
('Southern Asia', 0.22513000000000002)

In [ ]:
# DATA TO USE: ADULTDATA.csv
# Question: How many unique education levels are present in the dataset?
# Question: What is the average age of individuals with an income greater than 50K?
# Question: How many individuals belong to each gender category?
# Question: What is the maximum capital gain among individuals with a marital status of "Married-civ-spouse"?
# Question: How many individuals have a relationship of "Husband" and an income less than or equal to 50K?
# Question: What are the top 5 occupations with the highest average age?
# Question: How many individuals belong to each race category and have a capital loss greater than 1000?
# Question: What is the minimum education number among individuals with an income greater than 50K?
# Question: What is the average hours per week worked by individuals in each education level category?
# Question: What is the income distribution for individuals in each country?