In [1]:
import datetime
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [2]:
date1 = datetime.date(2022,2,25)
date1

datetime.date(2022, 2, 25)

In [3]:
print(type(date1))

<class 'datetime.date'>

In [4]:
print(date1.year)
print(date1.month)
print(date1.day)
print(date1.weekday())
print(date1.isoweekday())

2022
2
25
4
5

In [5]:
currentdate = datetime.date.today()
currentdate

datetime.date(2023, 6, 20)

In [15]:
# strftime: it is used for the modification of date and time
currentdate.strftime('%dth of %B, %Y')

'20th of June, 2023'

In [16]:
currenttime = datetime.datetime.now().time()
currenttime

datetime.time(16, 42, 34, 120880)

In [24]:
currenttime.strftime('%I::%M::%S::%p')

'04::42::34::PM'

In [27]:
# strptime: strptime is used to convert a date or time from string format to datetime format
cdate = input('Enter your date [d/m/y]:')
condate = datetime.datetime.strptime(cdate,'%d/%m/%Y').date()
print(condate)

Enter your date [d/m/y]:25/04/2023
2023-04-25

# EXERCISE ONE
### HAVE A LIST OF 5 NAMES, SENDING  THEM THE MESSAGE BELOW
### DEAR NAME, YOU ARE KINDLY INVITED TO A MATCH BETWEEN NIGERIA AND SENEGAL ON THE 26TH OF AUGUST 2023, TIME:: 5PM PROMPT

In [29]:
Names = ['Ade','Bisi','Faith','Jane','Samuel']
matchdate = datetime.datetime(2023,8,26,17,0,0)
for x in Names:
    print(f"Dear {x}, you are kindly invited to a match between Nigeria and Senegal on the {matchdate.strftime('%dth of %B %Y,')}Time::{matchdate.strftime('%I%p')}")

Dear Ade, you are kindly invited to a match between Nigeria and Senegal on the 26th of August 2023,Time::05PM
Dear Bisi, you are kindly invited to a match between Nigeria and Senegal on the 26th of August 2023,Time::05PM
Dear Faith, you are kindly invited to a match between Nigeria and Senegal on the 26th of August 2023,Time::05PM
Dear Jane, you are kindly invited to a match between Nigeria and Senegal on the 26th of August 2023,Time::05PM
Dear Samuel, you are kindly invited to a match between Nigeria and Senegal on the 26th of August 2023,Time::05PM

In [30]:
# time Delta
currentdate - date1

datetime.timedelta(days=480)

In [32]:
currentdate + datetime.timedelta(days = 150)

datetime.date(2023, 11, 17)

In [34]:
currentdate - datetime.timedelta(weeks = 150)

datetime.date(2020, 8, 4)

# ASK A USER FOR HIS/HER NAME AND HIS/HER APPOINTMENT DATE
# WRITE A PROGRAM TO CALCULATE HOW MANY WEEKS AND DAYS THE USER HAS LEFT TO HIS/HER APPOINTMENT

In [40]:
name = input('Please Enter your name:')
strdate = input('Enter your appointment date in this [d/m/Y]:')
appdate = datetime.datetime.strptime(strdate,'%d/%m/%Y').date()
currentdate = datetime.date.today()
diff = appdate - currentdate
noweeks = diff.days//7
nodays = diff.days % 7
print(f'Hey, {name} you have {noweeks} weeks and {nodays} days until your appointment date')

Please Enter your name:James
Enter your appointment date in this [d/m/Y]:25/04/2025
Hey, James you have 96 weeks and 3 days until your appointment date

# FILE HANDLING

In [43]:
file = open('day1.py','r')
print(file.read())
file.close()

# variables
# variables cannot start with a digit
# variables cannot have any special character except the underscore (_)
# variables cannot have a space
# variables are case sensitive
# we use the = to asign values to a variable

num1 = 14
name = 'Samuel'
num2,num3,num4 = 10,12.5,18
x = y = z = 5

# Data Types
# float (12.0)
# integer (78)
# string
# booleans [True or False]

# EXERCISE
# DECLEAR A VARIABLE AND ASIGN ANY INTEGER VALUE TO IT
# DECLEAR A VARIABLE AND ASIGN ANY FLOAT VALUE TO IT
# DECLEAR A VARIABLE AND ASIGN ANY STRING VALUE TO IT
# DECLEAR A VARIABLE AND ASIGN ANY OF THE BOOLEAN VALUE TO IT
num1 = 25
num2 = 15.0
surname = 'Akpos'
X = True

print(num1)

#string characters

## escape character
word = 'We\'re brother\'s from the other side of the town'
print(word)

## New line

word2 = 'DECLEAR A VARIABLE AND ASIGN ANY INTEGER VALUE TO IT,\nDECLEAR A VARIABLE AND ASIGN ANY FLOAT VALUE TO IT,\nDECLEAR A VARIABLE AND ASIGN ANY STRING VALUE TO IT,\nDECLEAR A VARIABLE AND ASIGN ANY OF THE BOOLEAN VALUE TO IT'

print(word2)


## Multiline string
word3 = '''DECLEAR A VARIABLE AND ASIGN ANY INTEGER VALUE TO IT
DECLEAR A VARIABLE AND ASIGN ANY FLOAT VALUE TO IT
DECLEAR A VARIABLE AND ASIGN ANY STRING VALUE TO IT
DECLEAR A VARIABLE AND ASIGN ANY OF THE BOOLEAN VALUE TO IT
'''
print(word3)

# string concatenation
print('Hello' + ' ' +'World')

print('My name is', name)

print(surname, name)

# string formatting
price1 = 15000
price2 = 45000
price3 = 80000
report = 'I have sold 4 shirts for {}, a suit for {} and a shoe for {} '
print(report.format(price2,price3,price1))

print(f'I have sold 4 shirts for {price3}, a suit for {price1} and a shoe for {price2} ')

# string method
word4 = '   python is fun'
print(word4.upper())
print(word4.lower())
print(word4.title())
print(word4.capitalize())
print(word4.split())
print(word4.strip())

In [47]:
file = open('demo.txt','w')
file.write('''Multiline string
word3 = DECLEAR A VARIABLE AND ASIGN ANY INTEGER VALUE TO IT
DECLEAR A VARIABLE AND ASIGN ANY FLOAT VALUE TO IT
DECLEAR A VARIABLE AND ASIGN ANY STRING VALUE TO IT
DECLEAR A VARIABLE AND ASIGN ANY OF THE BOOLEAN VALUE TO IT
''')
file.close()