# Data conversion

In [1]:
num1 = int(45.23)
print(num1)

45

In [2]:
print(float(num1))

45.0

In [6]:
word = '85L'
print(float(word))

ValueError: could not convert string to float: '85L'

In [7]:
print(str(num1))

45

# NOTE
# INTERGER  CAN BE CONVERTED TO FLOAT AND STRING
# FLOAT CAN BE CONVERTED TO INTEGER AND STRING
# STRING CANNOT BE CONVERTED TO FLOAT OR INTEGER EXCEPT THE STRING VALUE IS A DIGIT

In [8]:
# input function

In [21]:
name = input('Please provide your name:')

Please provide your name:GFFF

In [22]:
print(name)

GFFF

In [15]:
print(type(name))

<class 'str'>

In [20]:
age = float(input('Please provide your age:'))

Please provide your age:12

# OPERATORS

## ARITHEMIC OPERATORS
### ADDITION +
### SUBTRACTION -
### MULTIPLICATION *
### DIVISION /
### MODULUS %
### INTEGER DIVISION //
### EXPONENTIAL **

In [25]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

Enter first number:100
Enter second number:26
100 + 26 = 126
100 - 26 = 74
100 * 26 = 2600
100 / 26 = 3.8461538461538463
100 % 26 = 22
100 // 26 = 3
100 ** 26 = 10000000000000000000000000000000000000000000000000000

## COMPARISON OPERATORS
### GREATER THAN > 
### LESS THAN < 
### GREATER THAN OR EQUAL TO >=
### LESS THAN OR EQUAL TO <=
### EQUAL TO  ==
### NOT EQUAL TO !=

In [26]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} != {num2} = {num1 != num2}')

Enter first number:21
Enter second number:21
21 > 21 = False
21 < 21 = False
21 >= 21 = True
21 <= 21 = True
21 == 21 = True
21 != 21 = False

## LOGICAL OPERATORS
### AND
### OR 
### NOT

In [28]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print(num1 > num2 and num1 == num2)
print(num1 > num2 or num1 == num2)
print(not num1)

Enter first number:21
Enter second number:21
False
True
False

## MEMBERSHIP OPERATORS
## IN
## NOT IN

In [29]:
word = 'earlycode'
print('ly' in word)
print('lY' not in word)

True
True

## IDENTITY OPERATORS
## IS
## IS NOT

In [30]:
print(num1 is num2)
print(num1 is not num2)

True
False

# -

In [34]:
sp = 0.50
numbers_of_apples = int(input('Enter the numbers of apple to purchase:'))
total_cost = sp * numbers_of_apples
print(f'the total cost of {numbers_of_apples} apples at ${sp} each is ${total_cost}')

Enter the numbers of apple to purchase:100
the total cost of 100 apples at $0.5 each is $50.0