# EXERCISE
### J&B Mall has 5 floors and on each floor four shop each write a program for  lift to navigate through each floor and each shop

# LOOPS

In [1]:
word = 'python'
for x in word:
    print(x * 3)

ppp
yyy
ttt
hhh
ooo
nnn

In [3]:
word = 'python'
for x in word:
    print(x * 3,end ='::')

ppp::yyy::ttt::hhh::ooo::nnn::

In [4]:
names = ['Sam','Hope','Bob','Faith']
for x in names:
    print(f'Hey {x}, be remided of our class meeting')

Hey Sam, be remided of our class meeting
Hey Hope, be remided of our class meeting
Hey Bob, be remided of our class meeting
Hey Faith, be remided of our class meeting

In [8]:
JandB = {
    '1':['Spa','Saloon','Game House','Abijo Pro'],
    '2':['Computer Training Center','JT Wears','Four Gospel','SHAP'],
    '3':['Snacks Free','Phone Plus','FD Book Shop','HG Supermarket'],
    '4':['GF Pharmacy','JOHN VET','ROLE Cold Room','Ccocola Deport'],
    '5':['Mini Bar','Sport Center1','Sport Center2','Lounge']
}
floor = input('press in floor button:')
for key in JandB:
    if floor == key:
        option = input(f'''Enter the shop number
1.{JandB[floor][0]}
2.{JandB[floor][1]}
3.{JandB[floor][2]}
4.{JandB[floor][3]}
''')
        if option == '1':
            print('Shop 1 is the first shop on the left')
        elif option == '2':
            print('Shop 2 is the second shop on the left')
        elif option == '3':
            print('Shop 3 is the first shop on the Right')
        elif option == '4':
            print('Shop 4 is the second shop on the Right')

press in floor button:1
Enter the shop number
1.Spa
2.Saloon
3.Game House
4.Abijo Pro
3
Shop 3 is the first shop on the Right

In [9]:
# WHILE LOOP

In [15]:
import math
num = int(input('Enter a number:'))
counter = 0
while num != 0:
    print(f'The SQRT of {num} is {math.sqrt(num)}')
    num = int(input('Enter a number:'))
    counter = counter + 1

Enter a number:54
The SQRT of 54 is 7.3484692283495345
Enter a number:0

In [12]:
counter

6

In [27]:
carkm = float(input('Enter car km traveled:'))
counter = 0
while carkm != 2000:
    if carkm >= 100 and carkm <= 500:
        print('Break destination 1')
    elif carkm > 500 and carkm <= 1000:
        print('Break destination 2')
    elif carkm > 1000 and carkm <= 1500:
        print('Break destination 3')
    counter +=1
    carkm = float(input('Enter car km traveled:'))
print('You have reach your destination:')

Enter car km traveled:1500
Break destination 3
Enter car km traveled:2000
You have reach your destination:

## write a program to ask for a user registration id to print out the grade in four subject including the sum total
## have a record of students

In [32]:
student_records = {
    'reg001':{'Name':'Ade John','Age':17,'Gender':'Male','Physics':78,'Math':98,'English':90,'Chemistry':90},
    'reg002':{'Name':'Faith Akpan','Age':16,'Gender':'Female','Physics':80,'Math':78,'English':75,'Chemistry':77},
    'reg003':{'Name':'Samuel Lawal','Age':16,'Gender':'Male','Physics':73,'Math':65,'English':78,'Chemistry':72},
    'reg004':{'Name':'Okoro Mary','Age':15,'Gender':'Female','Physics':85,'Math':70,'English':95,'Chemistry':87},
    'reg005':{'Name':'Ade Lawal','Age':15,'Gender':'Male','Physics':90,'Math':82,'English':80,'Chemistry':88}
}
regid = input('Enter your Registration ID:')
for key in student_records:
    if regid == key:
        print(f'''NAME:{student_records[regid]['Name']}
AGE:{student_records[regid]['Age']}
GENDER:{student_records[regid]['Gender']}
PHYSICS:{student_records[regid]['Physics']}
MATH:{student_records[regid]['Math']}
ENGLISH:{student_records[regid]['English']}
CHEMISTRY:{student_records[regid]['Chemistry']}
TOTAL: {student_records[regid]['Physics'] + student_records[regid]['Math'] + student_records[regid]['English']+ student_records[regid]['Chemistry']}
''')
        break
else:
    print('Record not found')

Enter your Registration ID:reg001
NAME:Ade John
AGE:17
GENDER:Male
PHYSICS:78
MATH:98
ENGLISH:90
CHEMISTRY:90
TOTAL: 356